<p id="notice"><%= notice %></p>

<h1>
  <%= @beer_club.name %>
</h1>

<p>
  Founded <%= @beer_club.founded %> in <%= @beer_club.city %>
</p>

<p>
  <% if @beer_club.members.empty? %>
      No members yet
  <% else %>
      Has <%= pluralize(@beer_club.members.count, 'member') %>:
    <ul>
      <% @beer_club.members.each do |member| %>
          <li><%= link_to member.username, member %></li>
      <% end %>
    </ul>
<% end %>
</p>

<% if current_user && !@beer_club.memberships.one? { |membership| membership.user == current_user } %>
    <h4>Join the club!</h4>
    <%= form_for(@membership) do |f| %>
        <%= f.hidden_field :beer_club_id %>
        <%= f.submit value: "Join now" %>
    <% end %>
    <br><br>
    <hr>
<% else
     if current_user %>
        <%= form_for(@membership, method: "delete") do |f| %>
            <%= f.hidden_field :beer_club_id %>
            <%= f.submit value: "End your membership" %>
        <% end %>
    <% end %>
    <br><br>
    <hr>
<% end %>

<%= link_to 'Edit', edit_beer_club_path(@beer_club) if current_user %> |
<%= link_to 'Back', beer_clubs_path %>
