<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <% if @user.ratings.empty? %>
      No ratings yet!
  <% else %>
      Has made <%= pluralize( @user.ratings.count, 'rating' ) %>, average <%= @user.average_rating %>
  <% end %>
</p>

<ul>
  <% @user.ratings.each do |rating| %>
      <li><%= rating %> <%= link_to 'Destroy', rating, method: :delete, data: { confirm: 'Are you sure?' } %></li>
  <% end %>
</ul>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
