<h1><%= @user.username %></h1>

<p>
  <% if @user.ratings.empty? %>
      No ratings yet!
  <% else %>
      Has made <%= pluralize(@user.ratings.count, 'rating') %>, average <%= @user.average_rating %>
  <% end %>
</p>

<p>
<ul class="list-group">
  <% @user.ratings.each do |rating| %>
      <li class="list-group-item">
        <%= rating %>
        <% if @user == current_user %>
            <span class="badge"><%= link_to 'delete', rating, method: :delete, data: {confirm: 'Are you sure?'} %></span>
        <% end %>
      </li>
  <% end %>
</ul>
</p>

<p>
  <strong>Club memberships:</strong>
  <% if @user.memberships.empty? %>
      No memberships yet
  <% else %>
      Member of <%= pluralize(@user.memberships.count, 'beer club') %> :
      <% @user.memberships.each do |membership| %>
          <%= link_to membership.beer_club.name, membership.beer_club %>
      <% end %>
  <% end %>
</p>

<% if @user == current_user %>
  <%= link_to 'Edit', edit_user_path(@user), class:"btn btn-primary" %>
    <%= link_to 'Destroy', @user, class:"btn btn-danger" , method: :delete, data: { confirm: 'Are you sure?' }%>
<% end %>
<%= link_to 'Back', users_path, class:"btn btn-primary" %>
