<p id="notice"><%= notice %></p>

<h2><%= @brewery.name %></h2>

<span><i>Established in <%= @brewery.year %></i></span>

<p>Oluiden lukumäärä: <%= @brewery.beers.count %></p>

<p>
  <% @brewery.beers.each do |beer| %>
      <%= link_to beer.name, beer %>
  <% end %>
</p>

<p>
  <% if @brewery.ratings.empty? %>
      No ratings yet
  <% else %>
      Has <%= pluralize( @brewery.ratings.count, 'rating' ) %>, average <%= @brewery.average_rating %>
  <% end %>
</p>

<%= link_to 'Edit', edit_brewery_path(@brewery) %> |
<%= link_to 'Back', breweries_path %>
