<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @beer.name %>
</p>

<p>
  <strong>Style:</strong>
  <%= @beer.style %>
</p>

<p>
  <strong>Brewery:</strong>
  <%= @beer.brewery.name %>
</p>

<p>
  <strong>Rating:</strong>
  <% if @beer.ratings.empty? %>
      beer has not yet been rated!
  <% else %>
      Has <%= pluralize( @beer.ratings.count, 'rating' ) %>, average <%= @beer.average_rating %>
  <% end %>
</p>

<% if current_user %>
    <h4>Rate it!</h4>

    <%= form_for(@rating) do |f| %>
        <%= f.hidden_field :beer_id %>
        score: <%= f.number_field :score %>
        <%= f.submit %>
    <% end %>

    <br><br><hr>

    <%= link_to 'Edit', edit_beer_path(@beer) %>
    <%= link_to 'Destroy', @beer, method: :delete, data: { confirm: 'Are you sure?' } %> |
<% end %>

<%= link_to 'Back', beers_path %>
